@font-face {
  font-family: 'MTSSans';
  src: url('./fonts/MTSSans-Regular__W.eot');
  src: url('./fonts/MTSSans-Regular__W.eot?#iefix') format('embedded-opentype'),
  url('./fonts/MTSSans-Regular__W.woff2') format('woff2'),
  url('./fonts/MTSSans-Regular__W.woff') format('woff'),
  url('./fonts/MTSSans-Regular__W.ttf') format('truetype'),
  url('./fonts/MTSSans-Regular__W.svg#MTSSansWeb-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'MTSSans';
  src: url('./fonts/MTSSans-Medium__W.eot');
  src: url('./fonts/MTSSans-Medium__W.eot?#iefix') format('embedded-opentype'),
  url('./fonts/MTSSans-Medium__W.woff2') format('woff2'),
  url('./fonts/MTSSans-Medium__W.woff') format('woff'),
  url('./fonts/MTSSans-Medium__W.ttf') format('truetype'),
  url('./fonts/MTSSans-Medium__W.svg#MTSSansWeb-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

html, body {
  display: block;
  height: 100%;
  max-width: 100%;
  background: #001424;
  font-family: 'MTSSans', Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: normal;
  font-size: 16px;
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-one-line {
  white-space: nowrap;
}
.main-phone {
  display: inline;
}

.main-tablet {
  display: none;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  width: 100%;
  /*background: #233345;*/
  /*box-shadow: 0 4px 12px rgba(0, 0, 0, .75);*/
}

.header-logotype {
  width: 92px;
  height: 32px;
  /*margin-left: 40px;*/
  /*margin-top: 29px;*/
  margin-top: 50%;
}

main {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  display: flex;
  background: linear-gradient(.377turn,#162739 30.94%,rgba(26,43,61,0) 96.34%), url(./img/mobile_stub.png) no-repeat top;
  background-size: 225%;
  width: 100%;
  height: calc(100vh - 80px);
  flex-wrap: wrap;
  align-content: flex-start;
}

div.main-info {
  width: 100%;
}

h1.main-name {
  font-size: 24px;
  line-height: 33px;
  font-weight: 500;
  margin-left: 32px;
  margin-top: 50px;
  margin-bottom: 4px;
}

div.main-introduce {
  font-size: 16px;
  line-height: 22px;
  margin-left: 32px;
  margin-bottom: 31px;
  font-weight: normal;
}

div.main-buttons {
  display: flex;
  margin: 0 32px;
  justify-content: space-between;
  flex-wrap: wrap;
}

div.main-buttons-app a {
  display: inline-block;
}

div.main-buttons-app img {
  display: block;
  width: 124px;
}

div.main-buttons-app:last-child {
  width: 100%;
  text-align: center;
}

footer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 58px;
  left: 32px;
  right: 32px;
  font-size: 11px;
  line-height: 24px;
  opacity: .87;
}

footer div.footer-rate {
  display: inline-flex;
  width: 24px;
}

@media (min-width: 360px) {

  main {
    background: linear-gradient(.377turn,#162739 30.94%,rgba(26,43,61,0) 96.34%), url(./img/mobile_stub.png) no-repeat bottom;
  }

  h1.main-name {
    margin-left: 25px;
  }

  div.main-introduce {
    margin-left: 25px;
    margin-bottom: 18px;
  }

  div.main-buttons {
    margin: 0 25px;
  }

  div.main-buttons-app img {
    width: 150px;
  }

  footer {
    bottom: 75px;
  }

}

@media (min-width: 768px) {
  .main-one-line {
    white-space: normal;
  }

  .main-phone {
    display: none;
  }

  .main-tablet {
    display: inline;
  }

  h1.main-name {
    margin: 144px auto 6px;
    max-width: 432px;
    font-size: 28px;
    line-height: 38px;
  }

  div.main-introduce {
    margin: 0 auto 34px;
    max-width: 432px;
    font-size: 20px;
    line-height: 27px;
  }

  div.main-buttons {
    margin: 0 auto;
    max-width: 432px;
  }

  div.main-buttons-app img {
    width: 209px;
  }

  footer {
    bottom: 77px;
    max-width: 311px;
    margin: 0 auto;
  }

}
